node_modules
# Keep environment variables out of version control
.env

# dist

prisma/migrations
spec.txt
__test__/
coverage/
jest.config.ts
bug.txt
nodemon.json
http_test/
todo.txt
spec.txt
src/public/assets/uploads
validateBody.ts
problem.txt